/* sidebar */
.tree_fea3ef {
  background-color: red;
}

.subtitleContainer_a7d72e {
  background-color: red;
}

/* main messages */
.chatContent_a7d72e {
  background-color: gainsboro;
  background-image: url("https://medium.com/@emendoza2027/aesthetic-frutiger-aero-204f679dca8f");
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}

.base_a4d4d9 {
  background-color: blue;
}
