/* sidebar */
.tree_fea3ef {
  background-color: red;
}

.subtitleContainer_a7d72e {
  background-color: red;
}

/* chat messages */
.scrollerInner_e2e187 li {
  background-color: rgba(0,0,0, 0.5);
}

/* main messages */
.chatContent_a7d72e {
  background-color: gainsboro;
  background-image: url("https://i1.sndcdn.com/artworks-aVy2UZOQIxXExyyv-KCRyYw-t500x500.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.base_a4d4d9 {
  background-color: blue;
}
